<a href="https://colab.research.google.com/github/Philocreation/My_Python/blob/main/%EB%8B%A8%EA%B3%84_%EB%B3%84%EB%A1%9C_%ED%92%80%EC%96%B4%EB%B3%B4%EB%8A%94_%EB%B0%B1%EC%A4%80_%EB%AC%B8%EC%A0%9C_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. 입출력과 사칙연산

## (1) Hello World (2557번)

In [ ]:
print("Hello World!")

Hello World!

## (2) We love kriii(10718번)

In [ ]:
for i in range(1,3,1):
  print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

## (3) 고양이(10171번)

In [ ]:
print(r"\     /\ ")
print(")  ( ')")
print("(  /  )")
print(r" \(__)|")

\     /\
)  ( ')
(  /  )
 \(__)|

## (4) 개(10172번)

In [ ]:
print( "|\_/|")
print( "|q p|   /}")
print( '( 0 )"""＼')
print( '|"^"`    |' )
print( "||_/=\\__|" )

|\_/|
|q p|   /}
( 0 )"""＼
|"^"`    |
||_/=\__|

## (5) A+B (1000번)

In [ ]:
A = int(input())
B = int(input())

print(A+B)

1
2
3

## (6) A-B(1001번)

In [ ]:
A = int(input())
B = int(input())

print(A-B)

## (7) A*B(10998번)

In [ ]:
A = int(input())
B = int(input())

print(A*B)

1
2
2

## (8) A/B(1008번)

In [ ]:
A = int(input())
B = int(input())

print(A/B)

1
3
0.3333333333333333

## (9) 사칙연산(10869번)

In [ ]:
A = 7
B = 3

print(A+B)
print(A-B)
print(A*B)
print(A/B)
print(A%B)

10
4
21
2.3333333333333335
1

## (10) 나머지(10430번)

In [ ]:
A = 5
B = 8
C = 4

calculate_1 = (A+B)%C
calculate_2 = ((A%C) + (B%C))%C
calculate_3 = (A*B)%C
calculate_4 = ((A%C) * (B%C))%C

print(calculate_1,calculate_2,calculate_3,calculate_4, sep='\n')

1
1
0
0

## (11) 곱셈(2588번)

In [3]:
a = 472
b = 385

print(a*(b%10))

b_str = str(b%100-b%10)
b_str2 = int(b_str[0])
print(a*b_str2)

b_str3 = str(b-(b%100))
b_str4 = int(b_str3[0])
print(a*b_str4)
print(a*b)

2360
3776
1416
181720

# if문

## (1) 두 수 비교하기(1330번)

In [11]:
def creation(A,B):
  if A>B:
    print('>')
  elif A<B:
    print('<')
  elif A==B:
    print('==')

creation(1,2)
creation(10,2)
creation(5,5)

<
>
==

## (2) 시험 성적(9498번)

In [12]:
def func(i):
  if 90<= i <=100:
    print("A")
  elif 80<= i <=89:
    print("B")
  elif 70<= i <=79:
    print("C")
  elif 60<= i <=69:  
    print("D")
  else :
    print("F")

func(100)

A

## (3) 윤년 (2753번))

In [18]:
def Moon(i):
  if i%4==0 | i%100==0:
    print("윤년입니다.")
  else :
    print("윤년이 아닙니다.")

Moon(2000)
Moon(1999)

윤년입니다.
윤년이 아닙니다.

## (4) 사분면 고르기(14681번)

In [ ]:
def square(x,y):
  if x>0 | y>0:
    print("제1사분면")

## (5) 알림 시계(2884번)